systems/nodered/flows/Torben.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Lights & Shading",
        "disabled": false,
        "info": ""
    },
    {
        "id": "46473b2aa9c66e21",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "nachricht ",
        "payload": "hallo welt",
        "payloadType": "str",
        "x": 970,
        "y": 60,
        "wires": [
            [
                "ebf4efd1dba37898"
            ]
        ]
    },
    {
        "id": "ebf4efd1dba37898",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 60,
        "wires": []
    },
    {
        "id": "bf8c31608171b4f0",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Raumfühler Küche",
        "payload": "{\"Zustand\":\"OK\",\"Batterie\":80,\"Taste 1\":true,\"State 2\":false,\"Temparatur\":{\"wert\":19,\"einheit\":\"C\"},\"co2\":{\"einheit\":\"ppm\"}}",
        "payloadType": "json",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "e1563f8ec0857e31"
            ]
        ]
    },
    {
        "id": "065b41971aade379",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "e1563f8ec0857e31",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Temparatur.wert",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "cf885ce3a1ab9cd5"
            ]
        ]
    },
    {
        "id": "cf885ce3a1ab9cd5",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "065b41971aade379"
            ]
        ]
    },
    {
        "id": "6b49afd8e0654964",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Schalter",
        "tooltip": "das ist es",
        "group": "60441ebe7996dbac",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Schalter",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "2579f27e2237d6f9",
                "3fcbab0e1774197f"
            ]
        ]
    },
    {
        "id": "2579f27e2237d6f9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 140,
        "wires": []
    },
    {
        "id": "3fcbab0e1774197f",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "information",
        "tooltip": "",
        "group": "60441ebe7996dbac",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1230,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bf40a8a9a69d2f4e",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/shelly_export.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1680,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "282a9fda0c7f92e4",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Sitzplatz",
        "tooltip": "",
        "group": "662c4ea857175dbf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1060,
        "y": 620,
        "wires": [
            [
                "7430494acd83148f"
            ]
        ]
    },
    {
        "id": "d351dc0ac63ffbf9",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Küche",
        "tooltip": "",
        "group": "662c4ea857175dbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "4235da336de7111c"
            ]
        ]
    },
    {
        "id": "9f5a06b3fd1d79de",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Schlafzimmer",
        "tooltip": "",
        "group": "662c4ea857175dbf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "162bc8a0af49428c"
            ]
        ]
    },
    {
        "id": "26bff7cc4ed8cb05",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Wohnzimmer",
        "tooltip": "",
        "group": "662c4ea857175dbf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "0cab7bba15b36942"
            ]
        ]
    },
    {
        "id": "b2e2950a35d63565",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Dimmwert",
        "tooltip": "",
        "group": "82aa2e5479f5e404",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 460,
        "y": 1260,
        "wires": [
            [
                "f7d0ec5aa4b88cf7"
            ]
        ]
    },
    {
        "id": "e39e35ad8370cc44",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "82aa2e5479f5e404",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "An",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 1300,
        "wires": [
            [
                "6b7da517aac3f52f"
            ]
        ]
    },
    {
        "id": "0db4943247cd43c1",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "82aa2e5479f5e404",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 1340,
        "wires": [
            [
                "6b7da517aac3f52f"
            ]
        ]
    },
    {
        "id": "97c4f54117f50fc0",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Höhe",
        "tooltip": "",
        "group": "0673f5e6693a2bc2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1050,
        "y": 720,
        "wires": [
            [
                "73758464e9710406"
            ]
        ]
    },
    {
        "id": "34db3d16b92db728",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "0673f5e6693a2bc2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Auf",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 900,
        "wires": [
            [
                "213f58482b0e1309"
            ]
        ]
    },
    {
        "id": "61920dc49788ec4c",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "0673f5e6693a2bc2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ab",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 940,
        "wires": [
            [
                "213f58482b0e1309"
            ]
        ]
    },
    {
        "id": "3d3758793115f764",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "46c4ead4a6044a3d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aussentemparatur",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 250,
        "y": 1460,
        "wires": []
    },
    {
        "id": "77a3f1c6023171af",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Solltemparatur",
        "tooltip": "",
        "group": "46c4ead4a6044a3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 240,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "06d1ae5d781c5ef0",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "46c4ead4a6044a3d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Raumtemparatur",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 250,
        "y": 1500,
        "wires": []
    },
    {
        "id": "5cb0130c63e69b5b",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/20",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-01   E/A   [Küche E04]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "d351dc0ac63ffbf9"
            ]
        ]
    },
    {
        "id": "bb16660cdc6bfa12",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-01   E/A   [Küche E04]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 590,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "78488d24b955b562",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/30",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E05-01   E/A   [Sitzplatz E05]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 780,
        "y": 620,
        "wires": [
            [
                "282a9fda0c7f92e4"
            ]
        ]
    },
    {
        "id": "99e348bc3a582ff5",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/15",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "LD_E03-01   E/A   [Wohnzimmer E03]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "26bff7cc4ed8cb05"
            ]
        ]
    },
    {
        "id": "edc9ca78cc77434e",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "2/0/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E06-01   E/A   [Schlafzimmer E06]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "9f5a06b3fd1d79de"
            ]
        ]
    },
    {
        "id": "0cab7bba15b36942",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/18",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "LD_E03-01   RM",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 960,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "162bc8a0af49428c",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "2/0/13",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E06-01   RM E/A (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1040,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4235da336de7111c",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/23",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-01   RM (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1010,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7430494acd83148f",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/33",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E05-01   RM (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1450,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "73758464e9710406",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/1/12",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   POSITION HÖHE (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "213f58482b0e1309",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/1/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.008",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   AUF/AB   [Wohnzimmer E03]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1350,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "b070d8b695b4401e",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/1/11",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.007",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   STOPP",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1600,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1f0b749b124f7bcb",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/1/16",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.007",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   STOPP",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 680,
        "y": 700,
        "wires": [
            [
                "97c4f54117f50fc0"
            ]
        ]
    },
    {
        "id": "ee51ee092a639104",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "0673f5e6693a2bc2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lammellen Auf / Stopp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1200,
        "y": 1020,
        "wires": [
            [
                "b070d8b695b4401e"
            ]
        ]
    },
    {
        "id": "f2dbd683881d7ae5",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "0673f5e6693a2bc2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lamellen Ab / Stopp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1200,
        "y": 1060,
        "wires": [
            [
                "b070d8b695b4401e"
            ]
        ]
    },
    {
        "id": "24af75562617e66e",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Winkel",
        "tooltip": "",
        "group": "0673f5e6693a2bc2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1150,
        "y": 1120,
        "wires": [
            [
                "1d5bacb03ad9369d"
            ]
        ]
    },
    {
        "id": "1d5bacb03ad9369d",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/1/13",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "5.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   POSITION LAMELLEN",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1630,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "cfedf64d15c7fb7d",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/1/17",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   STATUS POSITION LAMELLEN (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "24af75562617e66e"
            ]
        ]
    },
    {
        "id": "f7d0ec5aa4b88cf7",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/26",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-02   DIM (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1290,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7da517aac3f52f",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/25",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-02   E/A   [Küche E04] (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 970,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "bfce954f759c4189",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "3bb22127029219f1",
        "topic": "1/0/29",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 210,
        "y": 1280,
        "wires": [
            [
                "b2e2950a35d63565"
            ]
        ]
    },
    {
        "id": "39fbd0815220a158",
        "type": "ui_time_scheduler",
        "z": "f6f2187d.f17ca8",
        "group": "0673f5e6693a2bc2",
        "name": "",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Jalousie Wohnzimmer",
            "Jalousie Küche"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 3,
        "order": 6,
        "width": 0,
        "height": 0,
        "x": 470,
        "y": 820,
        "wires": [
            [
                "87f3b36c27cce723"
            ],
            [
                "848af3fea7b9c34a"
            ],
            []
        ]
    },
    {
        "id": "848af3fea7b9c34a",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 820,
        "wires": [
            [
                "5e6dfae18129967d"
            ],
            [
                "f269bed93a259fd3"
            ]
        ]
    },
    {
        "id": "5e6dfae18129967d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 780,
        "wires": [
            [
                "73758464e9710406"
            ]
        ]
    },
    {
        "id": "f269bed93a259fd3",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 840,
        "wires": [
            [
                "73758464e9710406"
            ]
        ]
    },
    {
        "id": "87f3b36c27cce723",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "timer.config",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 670,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b54ca31c723af4c7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "8638845d6f811059"
            ]
        ]
    },
    {
        "id": "8638845d6f811059",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "timer.config",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "39fbd0815220a158"
            ]
        ]
    },
    {
        "id": "60441ebe7996dbac",
        "type": "ui_group",
        "name": "Standard",
        "tab": "5364671f0aef709b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "662c4ea857175dbf",
        "type": "ui_group",
        "name": "Beleuchtung",
        "tab": "5364671f0aef709b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82aa2e5479f5e404",
        "type": "ui_group",
        "name": "Spots küche",
        "tab": "5364671f0aef709b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0673f5e6693a2bc2",
        "type": "ui_group",
        "name": "Jalousie Wohnzimmer",
        "tab": "5364671f0aef709b",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "46c4ead4a6044a3d",
        "type": "ui_group",
        "name": "Heizung",
        "tab": "c2844216c7937bce",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bb22127029219f1",
        "type": "knxUltimate-config",
        "host": "192.168.178.199",
        "port": 3671,
        "physAddr": "1.3.250",
        "hostProtocol": "TunnelUDP",
        "suppressACKRequest": false,
        "csv": "\"Group name\"\t\"Address\"\t\"Central\"\t\"Unfiltered\"\t\"Description\"\t\"DatapointType\"\t\"Security\"\n\"1.UG\"\t\"0/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"0/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E01-01   E/A   (Technikraum E01)\"\t\"0/0/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E01-01   DIM\"\t\"0/0/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"L_E01-01   WERT\"\t\"0/0/12\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"L_E01-01   RM\"\t\"0/0/13\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E01-01   RM WERT\"\t\"0/0/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E02-01   E/A   (Basteln E02)\"\t\"0/0/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E02-01   DIM\"\t\"0/0/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"L_E02-01   WERT\"\t\"0/0/17\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"L_E02-01   RM\"\t\"0/0/18\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E02-01   RM WERT\"\t\"0/0/19\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Jalousien\"\t\"0/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E01-01   AUF/AB   (Technikraum E01)\"\t\"0/1/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"R_E01-01   STOPP\"\t\"0/1/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"R_E01-01   POSITION HÖHE\"\t\"0/1/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E01-01   POSITION LAMELLEN\"\t\"0/1/13\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   BESCHATTUNG\"\t\"0/1/14\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   SPERREN\"\t\"0/1/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   STATUS POSITION HÖHE\"\t\"0/1/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   STATUS POSITION LAMELLEN\"\t\"0/1/17\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E02-01   AUF/AB   (Basteln E02)\"\t\"0/1/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"R_E02-01   STOPP\"\t\"0/1/21\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"R_E02-01   POSITION HÖHE\"\t\"0/1/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E02-01   POSITION LAMELLEN\"\t\"0/1/23\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   BESCHATTUNG\"\t\"0/1/24\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   SPERREN\"\t\"0/1/25\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   STATUS POSITION HÖHE\"\t\"0/1/26\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   STATUS POSITION LAMELLEN\"\t\"0/1/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"EG \"\t\"1/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"1/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   E/A   (Wohnzimmer E03)\"\t\"1/0/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E03-01   DIM\"\t\"1/0/11\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   WERT\"\t\"1/0/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   RM\"\t\"1/0/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   RM WERT\"\t\"1/0/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"LD_E03-01   E/A   (Wohnzimmer E03)\"\t\"1/0/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E03-01   DIM\"\t\"1/0/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"LD_E03-01   WERT\"\t\"1/0/17\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"LD_E03-01   RM\"\t\"1/0/18\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E3-01   RM WERT\"\t\"1/0/19\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"L_E04-01   E/A   (Küche E04)\"\t\"1/0/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E04-01   DIM\"\t\"1/0/21\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-01   WERT\"\t\"1/0/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-01   RM\"\t\"1/0/23\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-01   RM WERT\"\t\"1/0/24\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   E/A   (Küche E04)\"\t\"1/0/25\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   DIM\"\t\"1/0/26\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   WERT\"\t\"1/0/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   RM\"\t\"1/0/28\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   RM WERT\"\t\"1/0/29\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   E/A   (Sitzplatz E05)\"\t\"1/0/30\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E05-01   DIM\"\t\"1/0/31\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   WERT\"\t\"1/0/32\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   RM\"\t\"1/0/33\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   RM WERT\"\t\"1/0/34\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Jalousie\"\t\"1/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E03-01   AUF/AB   (Wohnzimmer E03)\"\t\"1/1/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E03-01   STOPP\"\t\"1/1/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"J_E03-01   POSITION HÖHE\"\t\"1/1/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E03-01   POSITION LAMELLEN\"\t\"1/1/13\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01   BESCHATTUNG\"\t\"1/1/14\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01   SPERREN\"\t\"1/1/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01  STATUS POSITION HÖHE\"\t\"1/1/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01   STATUS POSITION LAMELLEN\"\t\"1/1/17\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E04-01   AUF/AB   (Küche E04)\"\t\"1/1/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E04-01   STOPP\"\t\"1/1/21\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"J_E04-01   POSITION HÖHE\"\t\"1/1/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E04-01   POSITION LAMELLEN\"\t\"1/1/23\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   BESCHATTUNG\"\t\"1/1/24\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   SPERREN\"\t\"1/1/25\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   STATUS POSITION HÖHE\"\t\"1/1/26\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   STATUS POSITION LAMELLEN\"\t\"1/1/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"1.OG\"\t\"2/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"2/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   E/A   (Schlafzimmer E06)\"\t\"2/0/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E06-01   DIM\"\t\"2/0/11\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   WERT\"\t\"2/0/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   RM E/A\"\t\"2/0/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   RM WERT\"\t\"2/0/14\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"LD_E07-01   E/A   (Schlafzimmer E07)\"\t\"2/0/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E07-01   DIM\"\t\"2/0/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"LD_E07-01   WERT\"\t\"2/0/17\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"LD_E07-01   RM\"\t\"2/0/18\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E07-01   RM WERT\"\t\"2/0/19\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"Jalousie\"\t\"2/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   AUF/AB   (Schlafzimmer 2)\"\t\"2/1/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E06-01   STOPP\"\t\"2/1/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-17\"\t\"Auto\"\n\"J_E06-01   POSITION HÖHE\"\t\"2/1/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   POSITION LAMELLEN\"\t\"2/1/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   BESCHATTUNG\"\t\"2/1/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   SPERREN\"\t\"2/1/15\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   STATUS POSITION HÖHE\"\t\"2/1/16\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   STATUS POSITION LAMELLEN \"\t\"2/1/17\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   AUF/AB   (Schlafzimmer 1)\"\t\"2/1/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E07-01   STOPP\"\t\"2/1/21\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-17\"\t\"Auto\"\n\"J_E07-01   POSITION HÖHE\"\t\"2/1/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   POSITION LAMELLEN\"\t\"2/1/23\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   BESCHATTUNG\"\t\"2/1/24\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   SPERREN\"\t\"2/1/25\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   STATUS POSITION HÖHE\"\t\"2/1/26\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   STATUS POSITION LAMELLEN\"\t\"2/1/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"2.OG\"\t\"3/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"3/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   E/A   (Estrich E08)\"\t\"3/0/10\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   DIM\"\t\"3/0/11\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   WERT\"\t\"3/0/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   RM\"\t\"3/0/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   RM WERT\"\t\"3/0/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Jalousie\"\t\"3/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Dach\"\t\"4/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "stopETSImportIfNoDatapoint": "fake",
        "loglevel": "error",
        "name": "KNX Gateway",
        "delaybetweentelegrams": 25,
        "ignoreTelegramsWithRepeatedFlag": false,
        "keyringFileXML": "",
        "knxSecureSelected": false,
        "secureCredentialsMode": "keyring",
        "tunnelIASelection": "Auto",
        "tunnelIA": "",
        "tunnelInterfaceIndividualAddress": "",
        "tunnelUserPassword": "",
        "tunnelUserId": "",
        "autoReconnect": "yes",
        "enableFlowBubbles": false,
        "statusUpdateThrottle": "0",
        "statusDateTimeFormat": "legacy",
        "statusDateTimeCustom": "DD MMM HH:mm",
        "statusDateTimeLocale": "",
        "serialPortPath": "/dev/ttyAMA0",
        "serialBaudRate": 19200,
        "serialDataBits": 8,
        "serialStopBits": 1,
        "serialParity": "even",
        "serialRtscts": false,
        "serialDtr": true,
        "serialTimeout": 1200,
        "isKBERRY": "true"
    },
    {
        "id": "5364671f0aef709b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c2844216c7937bce",
        "type": "ui_tab",
        "name": "Heizung",
        "icon": "fa-fire",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "28b16263aced4907",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-knx-ultimate": "4.3.18",
            "node-red-contrib-ui-time-scheduler": "1.17.2"
        }
    }
]